.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    height: 1000px;
    
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: aliceblue;
}
.loginTitle {
    font-weight: 600;
    margin-top: -200px;
    font-size: 50px;
}


.loginForm{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
}
.loginForm>label{
    margin: 10px 0;

}
.loginInput{
    padding: 10px;
    background-color: black;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor:pointer;
    background-color: brown;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.ref-Register{
    background-color: teal;
    cursor: pointer;
    border: none;
    padding:10px;
    color: white;
    border-radius: 10px;
    margin-top: 5px;

}
.lable{
    font-size: 20px;
    font-weight: 500;
}
